<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="whd-site-logo" style="background-image: url(/themes/custom/whd23/img/whd-logo/whd-blk-{{ language }}.svg); ">
  <span class="visually-hidden">{{ 'World Humanitarian Day'|t }}</span>
</a>
