{#
/**
 * @file
 * Top-level template for Footer.
 */
#}
<footer class="page-footer" aria-label="{{ 'Site footer'|t }}">
  <p class="colophon">&#169; 2023 {{ 'United Nations Office for the Coordination of Humanitarian Affairs'|t }}</p>
</footer>
