{#
/**
 * @file
 * Top-level template for Footer.
 */
#}
<footer class="cd-footer page-footer" aria-label="{{ 'Site footer'|t }}">
  <img class="page-footer__logo" src="/themes/contrib/common_design/img/logos/ocha-lockup.svg" alt="{{ 'United Nations Office for the Coordination of Humanitarian Affairs'|t }}">
  <p class="page-footer__colophon">&#169; 2023 {{ 'United Nations Office for the Coordination of Humanitarian Affairs'|t }}</p>
</footer>
