/**
 * WHD Images field
 *
 * Default: a single-row gallery of three equal-size images.
 */
.whd-images {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.whd-images > * {
  flex: 0 1 353px;
}
