/**
 * WHD Site footer
 */

.page-footer {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  /* other */
  margin-block-start: 4rem;
  padding: 2rem;
  text-align: center;
  color: var(--cd-white);
  background-color: var(--brand-primary);
  font-size: clamp(.8125em, 2vw, 1em);
}

.page-footer > * {
  max-width: var(--whd-content-max);
}

.page-footer__logo {
  margin-block: 2rem;
  width: 300px;
  max-width: 80%;
}

.page-footer__nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: .5rem;
}

.page-footer__nav > * {
  flex: 0 0 auto;
}

.page-footer__nav a {
  padding: 6px;
  text-transform: uppercase;
  color: var(--cd-white);
}

.page-footer__nav a:focus-visible {
  text-decoration: none;
  color: var(--brand-primary);
  outline: none;
  background: var(--cd-white);
}
