/**
 * WHD Hero image
 */

.paragraph--type--hero-image {
  padding-block-end: 4rem;
}

/* override paragraph defaults for the title/text fields */
.paragraph--type--hero-image .paragraph__title,
.paragraph--type--hero-image .paragraph__text {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: var(--whd-content-max);
}

.paragraph--type--hero-image .paragraph__text {
  text-wrap: balance;
  text-shadow: .5px .5px 0 var(--cd-black);
  margin-block: 2rem;
}
