/**
 * WHD Front page
 */

/**
 * Legacy layout
 */
.path-frontpage .slogan {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.path-frontpage .slogan__text {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 820px;
  max-width: var(--whd-content-max);
  margin-block-start: .5em;
  margin-block-end: -.25em;
  /* font differences mean manual alignment of slogan is necessary */
  margin-inline-start: -7px;
  text-shadow: 1px 1px 0 var(--cd-white);
  font-size: 3.6rem;
  font-size: clamp(2rem, 10vw, 3.6rem);
  font-weight: 700;
  padding-inline: 1rem;
}

.path-frontpage #block-whd23-page-title {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-block-end: 32vw;
}

.path-frontpage #block-whd23-page-title h1 {
  position: relative;
  z-index: 50;
  z-index: var(--whd-z-title);
  width: 100%;
  max-width: 820px;
  max-width: var(--whd-content-max);
  margin: 0;
  margin-block-end: 2rem;
  text-align: initial;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--cd-white);
  font-size: 1.6em;
  font-size: clamp(1rem, 4.4vw, 1.6rem);
  font-weight: 400;
  padding-inline: 1rem;
}



/**
 * Modern layout
 */
@supports (--css-vars: true) {
  .path-frontpage .slogan::before {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: -65vw;
    display: block;
    width: 100vw;
    height: 50.18518vw;
    content: '';
    background: url(../../img/whd23-homepage-banner-2x.png) 50% 0 no-repeat;
    background-image: image-set(
      url('../../img/whd23-homepage-banner-1x.png') 1x,
      url('../../img/whd23-homepage-banner-2x.png') 2x,
      url('../../img/whd23-homepage-banner-4x.png') 4x
    );
    background-size: 105vw;
  }

  /* Special coloring for first paragraph */
  .path-frontpage .field-content__paragraph:first-child {
    --whd-front-color-stop: 25rem;

    padding-block-start: calc(4rem + 15vw);
    color: var(--cd-white);
    background: linear-gradient(to bottom, var(--brand-primary), var(--brand-primary) var(--whd-front-color-stop), var(--cd-white) var(--whd-front-color-stop), var(--cd-white));
    font-size: 1.25em;
  }

  /**
   * Desktop.
   *
   * Move banner to the end of reading-direction.
   */
  @media screen and (min-width: 940px) {
    .path-frontpage .slogan {
      margin-block-start: 10rem;
    }

    .path-frontpage .slogan::before {
      top: calc(100px - 14vw);
      background-position: 105% 0;
      background-size: calc(50px + 44vw);
    }

    [dir="rtl"] .path-frontpage .slogan::before {
      transform: scale(-1, 1);
    }

    .path-frontpage #block-whd23-page-title {
      margin: 0;
    }

    .path-frontpage .field-content__paragraph:first-child {
      padding-block-start: 4rem;
    }
  }
}
